<h1>Book Detail</h1>

<div class="col-md-5">
  <div class="panel panel-primary">
    <div class="panel-heading">{{book.name}}</div>
    <div class="panel-body">
      <div>{{book.author}}</div>
      <div>$ {{book.price}}</div>
    </div>
    <div class="panel-footer">
      {{book.lastUpdated}}
    </div>
  </div>
</div>
